{% extends "base.html" %} {% block content %}
<h1 style="margin-top: 20px">Author: {{ author.last_name }}, {{ author.first_name }}</h1>

{% if author.date_of_birth %}
<p>({{ author.date_of_birth}} - 
        {% if author.date_of_death %}
            {{author.date_of_death}}
        {% endif %}
    )</p>
{% endif %}


<div style="margin-left: 20px; margin-top: 20px; margin-right: 100px;">
  <h4>Books</h4>

  {% for bookitem in author.book_set.all %}
    <p>
        <strong>
            <a href="{{ bookitem.get_absolute_url }}">{{ bookitem.title }}</a>
        </strong>
    </p>
    <p style="margin-bottom: 25px">{{ bookitem.summary}}</p>
  {% endfor %}
</div>
{% endblock %}